@font-face {
    font-family: 'TF2 Build';
    font-style: normal;
    font-weight: normal;
    src: local('TF2 Build'), url('./tf2build.woff') format('woff');
}

@font-face {
    font-family: 'TF2 Secondary';
    font-style: normal;
    font-weight: normal;
    src: local('TF2 Secondary'), url('./TF2\ Secondary.woff') format('woff');
}

* {
    box-sizing: border-box;
}

:root {
    --color-1: #3e3e3e;
    --color-2: #f5e5c1;
    --color-3: #f4722b;
    --color-4: #282828;
    --color-5: #e3e2e2;
    --color-6: #4f4944;
    --color-7: #d2cdc8;
    --color-8: #a49e96;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'TF2 Secondary';
    letter-spacing: 2px;
    word-spacing: 1.5px;
    color: var(--color-6);
    background-size: 100%;
    text-align: center;
    background-image: url("process-001.jpg");
    background-repeat: no-repeat;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
    margin: 0px;
    z-index: 1;
}


h1 {
    font-family: TF2 Build;
    margin: 0px;
    width: 100%;
    height: 95px;
    font-size: 55px;
    padding: 20px;
    color: var(--color-5);
    background-color: var(--color-1);
}

.page {
    position: fixed;
    top: 95px;
    height: 90vh;
    width: 100%;
}

.hbuttons {
    position: sticky;
    top: 0px;
    margin: 0px;
    width: 100%;
    z-index: 1;
    background-color: var(--color-4);
    box-shadow: 0px 1px 5px var(--color-4);
}

h2 {
    font-family: TF2 Build;
    position: sticky;
    top: 0px;
    margin: 0px;
    width: 10%;
    font-size: 20px;
    padding: 10px;
    background-color: var(--color-4);
    display: inline-block;
    border-radius: 12px;
    z-index: 2;
}

a:hover {
    color: var(--color-3);
}

a {
    color: var(--color-6);
}

h2>a, h3>a {
    color: var(--color-7);
}

.content {
    position: relative;
    padding: 25px;
    top: -28px;
    width: 65%;
    z-index: 0;
    background-color: var(--color-5);
    margin: auto;
    box-shadow: 0px 0px 10px var(--color-4);
}

h3 {
    font-family: TF2 Build;
    font-size: 200%;
}

.article {
    background-color: var(--color-7);
    margin: auto;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 2px 0px var(--color-8),0px -2px 0px var(--color-8);
}

h4 {
    font-family: TF2 Build;
    font-size: 110%;
    color: var(--color-6);
    margin: 0px 0px 10px 0px;
}

p {
    font-size: 100%;
    margin: 6px 2px 6px 2px;
}

footer {
    top: 10%;
    right: 0%;
    padding: 0px;
    position: relative;
    margin: 0;
    width: 100vw;
    background-color: var(--color-4);
    z-index: 1;
}

.ftext {
    color: var(--color-7);
    padding: 20px;
    margin: 0px;
}